<h1> Title </h1>
<br>
<form action='/links/newlink' method='post'>
  <input name='title' type='text'> Title </input>
  <input name='url' type='text'> URL </input>
  <input name='tags' type='text'> tags </input>
  <button type="submit" value="Submit">Submit Link</button>
</form>
