<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url %>
      Tag: <%= link.tag.map(&:name) %>
    </li>
  <% end %>
</ul>

<form action='/links/:name' method='get'>
<input type='text' name='tag'>
<input type='submit' value='submit'>
</form>