
<ul id='links'>
<% @links.each do |link| %>

    <li>
      Title <%= link.title %>
      URL: <%= link.url %>
    
  <%end%>



  Tag: <%= @tag.name %>
  </li>
</ul>
<div id='count'><%= @links.count %></div>

